<main>
  <button
    class="counter counter--upper"
    id="A"
    [disabled]="paused === 'A'"
    (click)="handleClick($event)"
  >
    <app-timer-interval #A [timeToCount]="timeToCount" (isFinished)="handleFinish($event)"></app-timer-interval>
  </button>
  <!--  TODO: Add global pause / global stop buttons-->
  <!--  <section>-->
  <!--    <button>||</button>-->
  <!--    <button>O</button>-->
  <!--  </section>-->
  <button
    class="counter"
    id="B"
    [disabled]="paused === 'B'"
    (click)="handleClick($event)"
  >
    <app-timer-interval #B [timeToCount]="timeToCount" (isFinished)="handleFinish($event)"></app-timer-interval>
  </button>
  <app-final-notification (forceReset)="handleReset()" *ngIf="isFinished"></app-final-notification>
</main>
