<main>
  <button
    class="counter"
    id="A"
    [disabled]="paused === 'A'"
    (click)="onClick($event)"
  >
    <app-clock-interval #A [timeToCount]="60 * 1000"></app-clock-interval>
  </button>
<!--  TODO: Add global pause / global stop buttons-->
<!--  <section>-->
<!--    <button>||</button>-->
<!--    <button>O</button>-->
<!--  </section>-->
  <button
    class="counter"
    id="B"
    [disabled]="paused === 'B'"
    (click)="onClick($event)"
  >
    <app-clock-interval #B [timeToCount]="60 * 1000"></app-clock-interval>
  </button>
</main>
