@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

main {
  justify-content: center;
  align-items: center;
  background: white;
  display: flex;
  height: 100vh;
  @media (max-width: 1482px) {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
button {
  background: #ffffff;
  border: 0;
  border-radius: 2.05rem;
  outline: none;
  padding: 0;
  &.counter {
    &:enabled {
      box-shadow: 0.5rem 0.5rem 2rem #d9d9d9, -0.5rem -0.5rem 2rem #ffffff;
    }
    &:disabled {
      background: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}

.counter {
  align-items: center;
  font-family: "Fira Code", monospace;
  height: 20rem;
  width: 20rem;
  margin: 1rem;
  &--upper {
    @media (max-width: 1024px) {
      transform: rotate(180deg);
    }
  }

  @media (max-height: 1024px) {
    height: 20rem;
    width: 20rem;
    border-radius: 1.8rem;
  }

  @media (max-height: 800px) {
    height: 17.5rem;
    width: 17.5rem;
    border-radius: 1.8rem;
  }

  @media (max-height: 700px) {
    height: 15rem;
    width: 15rem;
    border-radius: 1.55rem;
  }

  @media (max-height: 600px) {
    height: 12.5rem;
    width: 12.5rem;
    border-radius: 1.30rem;
  }
}


