@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

main {
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}
button {
  background: #ffffff;
  border: 0;
  border-radius: 2rem;
  outline: none;
  padding: 0;
  &.counter {
    &:enabled {
      box-shadow: 0.5rem 0.5rem 2rem #d9d9d9, -0.5rem -0.5rem 2rem #ffffff;
    }
    &:disabled {
      background: #ffffff;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 2rem;
    }
  }
}

.counter {
  align-items: center;
  font-family: "Fira Code", monospace;
  max-height: 20rem;
  max-width: 20rem;
  height:100%;
  width:100%;
  margin: 1rem;

  @media (max-height: 800px) {
    max-height: 15rem;
    max-width: 15rem;
  }

  @media (max-height: 600px) {
    max-height: 12.5rem;
    max-width: 12.5rem;
  }
}


