@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

main {
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}
button {
  background: none;
  border: 0;
  //border-radius: 100px;
  outline: none;
  padding: 0;
  &.counter {
    &:enabled {
      //box-shadow: 0.5rem 0.5rem 2rem #d9d9d9, -0.5rem -0.5rem 2rem #ffffff;
    }
    &:disabled {
      background: transparent;
      //border: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}

.counter {
  align-items: center;
  font-family: "Fira Code", monospace;
  max-height: 20rem;
  max-width: 20rem;
  height:20rem;
  width:20rem;
  margin: 1rem;
  &--upper {
    @media (max-width: 1024px) {
      transform: rotate(180deg);
    }
  }

  @media (max-height: 800px) {
    height: 17.5rem;
    width: 17.5rem;
  }

  @media (max-height: 700px) {
    height: 15rem;
    width: 15rem;
  }

  @media (max-height: 600px) {
    height: 12.5rem;
    width: 12.5rem;
  }
}


