<header style="display: flex; justify-content: center;">
  <h1>Chess clock</h1>
</header>
<main style="display: flex; flex-direction: column; align-items: center;">
  <div style="display: flex;">
    <button mat-raised-button (click)="decrement()">-</button>
    <p style="padding-left: 1rem; padding-right: 1rem;">Time to count: {{ count$ | async }}</p>
    <button mat-raised-button (click)="increment()">+</button>
  </div>

  <br />
  <a routerLink="/game" routerLinkActive="active">Start</a>
</main>
