<div class="wrapper">
  <header style="display: flex; justify-content: center;">
    <h1>Settings</h1>
  </header>
  <main>
    <section class="settings">
      <button
        class="settings__button settings__button--decrease"
        (click)="decrement()"
      >
        -
      </button>
      <div class="settings__wrapper">
        <p class="settings__counter">{{ count$ | async }}</p>
      </div>
      <button
        class="settings__button settings__button--increase"
        (click)="increment()"
      >
        +
      </button>
    </section>
    <p class="units">
      minutes
    </p>
    <button class="start" (click)="start()" [routerLink]="['/counter']">
      Start
    </button>
  </main>
</div>
