<div class="wrapper">
  <header style="display: flex; justify-content: center;">
    <h1>Settings</h1>
  </header>
  <main>
    <section class="settings">
      <button class="settings__button settings__button--decrease" (click)="decrement()">-</button>
      <p class="settings__counter">{{ count$ | async }}</p>
      <button class="settings__button settings__button--increase" (click)="increment()">+</button>
    </section>
    <p class="units">
      minutes
    </p>
    <button class="start" [routerLink]="['/game']">Start</button>
  </main>
</div>
