@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Fira Code", monospace;
  touch-action: manipulation;
}

//@media screen and (max-width: 767px) and (orientation: landscape) {
//  html {
//    height: 100vw;
//    transform: rotate(90deg);
//  }
//}
